@model InternetProgramlamaFinal.Models.Kurslar

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h1>Detaylar</h1>

<div>
    <h4>Kurslar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KursAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KursAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KursAciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KursAciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KursFotografi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KursFotografi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KursSeanslari)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KursSeanslari)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KursFiyati)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KursFiyati)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalonId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalonId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EgitmenId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EgitmenId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.KursId">Düzenle</a> |
    <a asp-action="Index">Listeye Geri Dön1</a>
</div>
