@model IEnumerable<InternetProgramlamaFinal.Models.Etkinlikler>

@{
    ViewData["Title"] = "Etkinlikler";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h1 class="p-1">Etkinlikler </h1>

<p>
    <a class="btn btn-secondary" asp-action="Create">Yeni Ekle</a>
</p>
<div class="card mb-4">
    <div class="card-body">
        <table class="table table-striped" id="datatablesSimple">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EtkinlikAdi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EtkinlikZamani)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Salonlars.SalonAdi)
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EtkinlikAdi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EtkinlikZamani)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salonlars.SalonAdi)
                    </td>
                    <td>
                        <a class="btn btn-outline-primary text-decoration-none p-2 rounded-lg" asp-action="Edit" asp-route-id="@item.EtkinlikId">Düzenle</a> 
                        <a class="btn btn-outline-success text-decoration-none p-2 rounded-lg" asp-action="Details" asp-route-id="@item.EtkinlikId">Detaylar</a> 
                        <a class="btn btn-outline-danger text-decoration-none p-2 rounded-lg" asp-action="Delete" asp-route-id="@item.EtkinlikId">Sil</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>

    </div>
</div>
<a class="btn btn-info" href="/Home">Anasayfaya Dön</a>

<script>

</script>
