@model InternetProgramlamaFinal.Models.Uyeler

@{
    ViewData["Title"] = "Üye Sil";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h1>Sil</h1>

<h3>Silmek İstediğinize Emin Misiniz ??</h3>
<div>
    <h4>Uyeler</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UyeAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UyeAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UyeSoyadi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UyeSoyadi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UyeTelefon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UyeTelefon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kurslars.KursAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kurslars.KursAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Egitmenlers.EgitmenAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Egitmenlers.EgitmenAdi)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UyeId" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Listeye Geri Dön</a>
    </form>
</div>
