@model InternetProgramlamaFinal.Models.Uyeler

@{
    ViewData["Title"] = "Üye Detay Sayfası";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h1>Üye Detay Sayfası</h1>

<div>
    <h4>Uyeler</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UyeAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UyeAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UyeSoyadi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UyeSoyadi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UyeTelefon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UyeTelefon)
        </dd>
        <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Kurslars.KursAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kurslars.KursAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Egitmenlers.EgitmenAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Egitmenlers.EgitmenAdi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UyeId">Düzenle</a> |
    <a asp-action="Index">Listeye Geri Dön</a>
</div>
